<nav class="navbar navbar-expand-md fixed-top dark-primary-color text-primary-color">
  <a class="navbar-brand" routerLink="/">
    Rent
    <fa-icon icon="fire"></fa-icon>
    Grill
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Rent a Grill</a>
      </li>
    </ul> -->
  </div>
</nav>